// Error styles
$alert-box-error-bg-color: #bd362f;
$alert-box-error-border-color: lighten($alert-box-error-bg-color, 30%);
$alert-box-error-color: white;

// Warning styles
$alert-box-warning-bg-color: #f89406;
$alert-box-warning-border-color: lighten($alert-box-warning-bg-color, 30%);
$alert-box-warning-color: white;

// Info styles
$alert-box-info-bg-color: #2f96b4;
$alert-box-info-border-color: lighten($alert-box-info-bg-color, 30%);
$alert-box-info-color: white;

// Success styles
$alert-box-success-bg-color: #51a351;
$alert-box-success-border-color: lighten($alert-box-success-bg-color, 30%);
$alert-box-success-color: white;

$closable-button-padding: 34px;
$alert-box-max-width: 380px;

@mixin react-alert-box($bg-color, $border-color, $color) {
  background-color: $bg-color;
  border-color: $border-color;
  color: $color;
  .close {
    color: transparentize($color, 0.4);
    &:hover {
      color: $color;
    }
  }
}

.alert-box {
  z-index: 1051; // bootstrap alert z-index + 1
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 0;

  .alert-content {
    max-width: $alert-box-max-width;
  }

  &.closable {
    padding-right: $closable-button-padding;
  }
  .close {
    position: absolute;
    font-size: 18px;
    top: calc(50% - 16px); // Center vertically with 50% - close button height / 2
    right: calc(#{$closable-button-padding}/2 - 9px); // Center horizontally close button
    padding: 5px;
    text-decoration: none;
  }

}


.alert-box.error {
  @include react-alert-box($alert-box-error-bg-color, $alert-box-error-border-color, $alert-box-error-color);
}

.alert-box.warning {
  @include react-alert-box($alert-box-warning-bg-color, $alert-box-warning-border-color, $alert-box-warning-color);
}

.alert-box.info {
  @include react-alert-box($alert-box-info-bg-color, $alert-box-info-border-color, $alert-box-info-color);
}

.alert-box.success {
  @include react-alert-box($alert-box-success-bg-color, $alert-box-success-border-color, $alert-box-success-color);
}
